@import "https://unpkg.com/open-props";

/* Defaults */

html {
  --brand-light1: var(--orange-6);
  --brand-light2: var(--orange-7);
  --brand-light3: var(--orange-8);
  --brand-light4: var(--orange-9);

  --text1-light: var(--stone-8);
  --text2-light: var(--stone-7);

  --surface1-light: var(--stone-2);
  --surface2-light: var(--stone-0);
  --surface3-light: var(--stone-1);
  --surface4-light: var(--stone-3);
}
html {
  --brand-dark1: var(--orange-4);
  --brand-dark2: var(--orange-3);
  --brand-dark3: var(--orange-2);
  --brand-dark4: var(--orange-1);

  --text1-dark: var(--stone-1);
  --text2-dark: var(--stone-3);

  --surface1-dark: var(--stone-9);
  --surface2-dark: var(--stone-8);
  --surface3-dark: var(--stone-7);
  --surface4-dark: var(--stone-6);
}
:root {
  --brand1: var(--brand-light1);
  --brand2: var(--brand-light2);
  --brand3: var(--brand-light3);
  --brand4: var(--brand-light4);

  --text1: var(--text1-light);
  --text2: var(--text2-light);

  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
}
@media (prefers-color-scheme: dark) {
  :root {
    --brand1: var(--brand-dark1);
    --brand2: var(--brand-dark2);
    --brand3: var(--brand-dark3);
    --brand4: var(--brand-dark4);

    --text1: var(--text1-dark);
    --text2: var(--text2-dark);

    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
  }
}

/* font-sizes */
:root {
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-sans: Inter, Roboto, Helvetica, Arial, sans-serif;
  --ff-serif: "PT Serif", serif;
  --ff-code: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
    Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
    Courier, monospace;
}

@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
ol[role="list"],
ul[role="list"] {
  list-style: none;
}
body {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  color: var(--text1);
  background-color: var(--surface2);
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
p img {
  margin: 2rem auto;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* code */

pre,
code {
  font-family: var(--ff-code);
  line-height: 1.5;
  /* background-color: orange; */
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: var(--surface1);
  overflow-x: auto;
}
code {
  word-break: break-all;
}

/* ---------------- */
/* utility classes */
/* ---------------- */

/* general */
:root {
  --flow-space: var(--size-5);
}
main {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
a {
  color: var(--text1);
}
.flex {
  display: flex;
  gap: 2rem;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1.5rem);
}

.flow--space-small {
  --flow-space: var(--size-2);
}

.container {
  --max-width: 60rem;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}
p a:focus,
p a:hover {
  text-decoration-thickness: 2px;
  color: var(--text1);
  transition: text-decoration-thickness 150ms ease-out;
}
/* colors */

.surface1 {
  background-color: var(--surface1);
  color: var(--text2);
}

.surface2 {
  background-color: var(--surface2);
  color: var(--text2);
}

.surface3 {
  background-color: var(--surface3);
  color: var(--text1);
}

.surface4 {
  background-color: var(--surface4);
  color: var(--text1);
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans {
  font-family: var(--ff-sans);
}
.ff-code {
  font-family: var(--ff-code);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/* --------------- */
/* primary-header */
/* -------------- */
.logo {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}
.logo a {
  font-size: var(--fs-600);
  text-decoration: none;
}
.logo a:focus,
.logo a:hover {
  color: var(--brand4);
  transition: text-decoration 150ms ease-out;
}
.nav-item a:focus,
.nav-item a:hover {
  color: var(--brand4);
  transition: text-decoration 150ms ease-out;
}
.primary-header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  background-color: var(--surface3);
  box-shadow: 0px 0px 20px 5px var(--surface4);
  border-radius: 1.25rem;
  margin-top: 2rem;
  /* border-bottom: 1px solid var(--brand4);
  border-top: 1px solid var(--brand4); */
  border-radius: 1.25rem;
}

.primary-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(1rem);
  font-weight: 900;
}
.primary-navigation > li > a {
  text-decoration: none;
}
.primary-navigation > li > a > span {
  font-weight: 700;
  margin-inline-end: 0.75em;
}
.primary-navigation li a {
  /* color: var(--brand4); */
}
.primary-navigation .active {
  /* background: var(--surface3); */
}
/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
  color: var(--text1);
}
.postlist-item {
  font-weight: var(--font-weight-9);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  line-height: 1.6;
  /* border: 1px solid var(--brand3); */
  /* padding: 2rem; */
  background-color: var(--surface3);
  box-shadow: 0px 0px 20px 5px var(--surface4);
  border-radius: 1.25rem;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--text2);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  color: var(--brand4);
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-link:focus,
.postlist-link:hover {
  text-decoration-thickness: 2px;
  color: var(--text1);
  transition: text-decoration-thickness 150ms ease-out;
}

/* Tags */
.post-tag {
  text-transform: uppercase;
  font-weight: var(--font-weight-5);
  color: var(--text2);
  text-decoration: none;
  line-height: 1.8;
}

/*  -------------  */
/* contact page*/
/* --------------  */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  margin: auto;
  padding: 1rem;
  /* border: 1px solid var(--brand3); */
  background-color: var(--surface3);
  /* box-shadow: 0px 0px 20px 5px var(--surface4);
  border-radius: 1.25rem; */
}
.contact-form input,
textarea {
  font-size: var(--font-size-fluid-0);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: var(--surface2);
  border: 2px solid var(--stone-4);
  border-radius: 4px;
  transition: 180ms box-shadow ease-in-out;
  margin-top: 0;
  color: var(--text1);
}
.contact-form input:focus,
textarea:focus {
  border-color: var(--orange-3);
}
.contact-form input:focus,
textarea:focus {
  box-shadow: 0 0 0 3px hsla(33, 100%, 83%, 0.8);
  outline: 3px solid transparent;
}
.contact-form input:not(textarea) {
  line-height: 1;
  height: 2.25rem;
}
.contact-form textarea,
input {
  resize: vertical;
}
.contact-form label {
  font-size: var(--font-size-fluid-0);
  font-weight: var(--font-weight-5);
  line-height: var(--font-lineheight-0);
  margin-bottom: -5px;
  color: var(--text1);
}
.contact-form input + label {
  margin-top: 1rem;
}
.more-btn {
  white-space: nowrap;

  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-7);
  text-decoration: none;

  padding: var(--size-1) var(--size-6);
  color: var(--orange-8);
  border: var(--border-size-2) solid var(--orange-5);
  background-color: transparent;
  border-radius: var(--radius-2);
}
.more-btn:hover {
  cursor: pointer;
  color: var(--orange-0);
  background-color: var(--orange-5);
}

/* contact page links*/
.contacts-ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--size-3);
  list-style: none;
  padding: 0;
  margin: 1rem 0 1rem 0;
}
@media screen and (min-width: 1000px) {
  .contacts-ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.contacts-li {
  padding: var(--size-3);
  text-align: center;
  font-size: var(--font-size-fluid-1);
}
.contacts-li a:hover,
.contacts-li a:focus {
  color: var(--orange-6);
}
.contacts-li a:focus {
  outline: 2px dotted;
}

/* hero */
.myhero {
  --container-max: 100vw;
  width: min(100% - 3rem, var(--container-max, 60ch));
}

.hero-message {
  color: var(--text1);
  line-height: var(--font-lineheight-0);
}

.hero-message > p:last-child {
  color: var(--brand1);
}

.under-hero {
  color: var(--stone-7);
  font-size: var(--font-size-4);
  margin-block-end: var(--size-3);
}

.button-list {
  display: flex;
  gap: var(--size-3);
}

.grid-container {
  text-align: center;
  display: grid;

  padding-inline: 2rem;
  padding-bottom: 4rem;
}

.grid-container p:not([class]) {
  max-width: 50ch;
}
/* -------- */
/* footer */
/* ---------- */

.footer {
  margin-top: auto;
  padding: 3rem;
  text-align: center;
}
.footer p {
  margin-left: auto;
  margin-right: auto;
}
.footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 2rem;
  padding: 5rem 0 0 0;
}

.footer li + li {
  margin-left: 1rem;
}
.footer a {
  --font-weight: 750;
  --font-width: 50;
  color: inherit;
}
.footer a:focus,
.footer a:hover {
  color: var(--clr-primary-400);
  text-decoration: none;
}
.wave {
  /* mask created with 
  https://css-generators.com/wavy-shapes/ */
  /* background: 
    linear-gradient(
      to right, 
      #00f260, 
      #0575e6); */

  --mask: radial-gradient(128.2px at 50% 175.5px, #000 99%, #0000 101%)
      calc(50% - 130px) 0/260px 100%,
    radial-gradient(128.2px at 50% -110.5px, #0000 99%, #000 101%) 50% 65px/260px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);

  -webkit-mask: var(--mask);
  mask: var(--mask);
}
/* contact link  */
.contact-link {
  white-space: nowrap;
  text-decoration: none;
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-7);

  padding: var(--size-2);
  color: var(--brand3);
  border: var(--border-size-2) solid var(--brand3);
  background-color: var(--surface2);
  text-align: center;

  border-radius: var(--radius-1);

  transition: background 0.5s linear;
}

.contact-link:hover,
.contact-link:focus {
  cursor: pointer;
  color: var(--surface2);
  background-color: var(--brand2);
}

.contact-link:hover {
  text-shadow: 0 1px 0 var(--brand4);
}

.contact-link:active {
  position: relative;
  inset-block-start: 2px;
}

.tagline {
  /* grid-column: 1/-1; */
  /* display: grid; */
  /* place-content: center; */
  text-align: center;
  /* border: 1px solid var(--brand4); */
  /* background-color: var(--surface3); */
  padding: 1rem;
  box-shadow: 0px 0px 20px 5px var(--surface4);
  border-radius: 1.25rem;
}

.contact {
  --min: 20rem;
  --gap: 1rem;
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.posts {
  --min: 15rem;
  --gap: 1rem;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}
.posts .postlist-item {
  /* flex: 1 1 var(--min); */
}

/* TESTIMONIALS */
.testimonial {
  /* width: 65%; */
  position: relative;
}

.testimonial__header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.testimonial__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #666;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  font-size: 1.5rem;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}
span.blockspam {
  display: none;
}
.section {
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(5rem);
}
.section-title {
  font-weight: var(--font-weight-9);
  margin-bottom: 1rem;
  padding: 2rem;
  text-align: center;
  line-height: 1.6;
  background-color: var(--surface3);
  box-shadow: 0px 0px 20px 5px var(--surface4);
  border-radius: 1.25rem;
}
.list-img {
  border-radius: 1.25rem 1.25rem 0 0;
  aspect-ratio: 3/2;
  object-fit: cover;
  width: 100%;
  height: auto;
}
