
{{- partial "header.html" . }}

 {{ range where .Site.RegularPages "Section" "tips" }}
<a class="entry-link" href="{{ .Permalink }}">
<article class="post-entry gallery-link">

  <header class="entry-header">
    <h2>{{ .Title }}</h2>
  </header>
  <section class="entry-content">
   <p>{{ .Summary | plainify | htmlUnescape }}...</p>
  </section>
  <footer class="entry-footer">
   Updated on <time>{{ .Date.Format "January 2, 2006" }}</time>
  </footer>

</article>
</a>
{{- end }}



{{- partial "footer.html" . }}
