---
layout: layouts/home.njk

---

<div class="flow">
  <section class="flow tagline">
    <h1 class="fs-500 ff-sans uppercase">
      <p>Shopify Solutions</p>
    </h1>
    <p class="fs-500">Customizations, fixes, complete store development, theme updating, consultation, content creation and more. 
    </p>
  </section>
</div>

<section style="margin-top: 2rem;">
    {% set maxPosts = collections.posts.length | min(5) %}
    {% set postslist = collections.posts | head(-5) %}
    {% set postslistCounter = collections.posts | length %}
      <div style="margin-bottom:1rem;" class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <h1 class="fs-400">Latest Shopify Tutorials</h1>
    </div>
    {% include "postslist.njk" %}

    <div style="margin-top:1rem;" class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <a class="postlist-link" href="{{ '/tips/' | url }}">All the Shopify tutorials are here</a>
    </div>
</section>



