---
layout: layouts/home.njk

---

<div class="flow">
  <section class="flow tagline">
    <h1 class="fs-700 ff-serif uppercase">
      <p>Shopify Solutions</p>
    </h1>
    <p class="fs-700 ff-serif">Customize, fix, develop, update, consult, create and more. 
    </p>
    <p>Does you Shopify site need some fixing?</p>    
    <p>I'm available for hire, on a retainer, for a one-off project, a collaboration, or if you just want some free advice.</p>
    
  <a href="/tips" class="button-kp glow-effect" >
  Shopify tutorials
  <svg class="glow-container">
    <rect pathLength="100" stroke-linecap="round" class="glow-blur"></rect>
    <rect pathLength="100" stroke-linecap="round" class="glow-line"></rect>
  </svg>
</a>
  </section>
</div>


