---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
    - projects
    - project
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<h1>Tagged “{{ tag }}”</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}
{% set projectslist = collections[ tag ] %}
{% include "projectslist.njk" %}
<p>See <a style="color:var(--text1)" href="{{ '/tags/' | url }}">all tags</a>.</p>
