---
layout: layouts/home.njk
permalink: /tips/
eleventyNavigation:
  key: Tutorials
  order: 1
---

  <div style="margin-bottom:1rem;" class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <h1 class="fs-400">Shopify Tutorials</h1>
    </div>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
