
 <div class="logo-wrapper">
  <div class="my-logo">
    <h1 class="name"><a href="{{ "" | absURL }}">Alan Ryan</a></h1>
  </div>	
</div>

<style>
.logo-wrapper{
  visibility: hidden;
}
.my-logo,
.tagline {
  overflow:hidden;
  margin-left: auto;
  padding: 3px;
 }
.name
 {
  margin-left: var(--gap);
  text-align: left;
  line-height: 1.2;
  font-size: calc(1.5rem + 3vw);;
  color: #F5DF4D;
  width: 18.75rem;
}
.tag
 {
  margin: 0;
  text-align: left;
  width: 584px;
  font-size: 1.75;
  color: white;
  letter-spacing: 1px; 
}
</style>
<script>

gsap.registerPlugin(SplitText, GSDevTools);

function init(){
 gsap.set(".logo-wrapper", {autoAlpha:1})
	
 let taglineSplit = new SplitText( ".tag", {type:"chars, words"})
 
 let animation = gsap.timeline()
 .from(".my-logo", {width:0, ease:"power1.in", duration:0.3})
 .from(taglineSplit.chars, {yPercent:-140, stagger:0.05})


}
 
window.addEventListener("load", init);
</script>

