{{- partial "header.html" . }}

 <div class="intro-wrapper">
    <h2 class="intro-text">
         Shopify developer. Customizations, fixes, complete store development, theme
         updating, content creation and more.
    </h2>
    <a class="contact-link" href="/contact">CONTACT</a>
 </div>

<section class="home-section">
  <h3>
    <a class="home-links" href="/tips"
      >{{ with .Site.GetPage "section" "tips" }}{{ .Title }}{{ end }}</a
    >
  </h3>
  <ul class="projects-grid">
    {{ range where .Site.RegularPages "Section" "tips" }}
      <li style="margin: 0; padding:0;">
        <a class="card" href="{{.Permalink}}">
          <div class="pattern" style="background-image: url('{{ .Params.backgroundImage | safeURL }}'); background-color: {{.Params.backgroundColor}}"></div>
          <h4>{{ .Title }}</h4>
        </a>
      </li>
    {{- end }}
  </ul>
</section>
<section class="home-section">
  <h3>
    <a class="home-links" href="/projects"
      >{{ with .Site.GetPage "section" "projects" }}{{ .Title }}{{ end }}</a
    >
  </h3>
  <ul class="projects-grid">
    {{ range where .Site.RegularPages "Section" "projects" }}
      <li style="margin: 0; padding:0;">
        <a class="card" href="{{.Permalink}}">
            <div class="pattern" style="background-image: url('{{ .Params.backgroundImage | safeURL }}') "></div>
            <h4>
             {{ .Title }}  
            </h4>
        </a>
      </li>
    {{- end }}
  </ul>
</section>

{{- partial "footer.html" . }}
