/* form
-----------------------------------------------------*/
:root {
       --input-border: #8b8a8b;
       --input-focus-h: 245;
       --input-focus-s: 100%;
       --input-focus-l: 42%;
      
       }
form {
	display: grid;
	place-content: center;
	grid-gap: 0.5rem;
	background-color: var(--theme);
	padding-bottom: 2rem;
	color: white;

     }
input, 
textarea {
	font-size: 1em;
	font-family: inherit;
	padding: 0.25em 0.5em;
	background-color: white;
	border: 2px solid var(--input-border);
	border-radius: 4px;
	transition: 180ms box-shadow ease-in-out;
	margin-top: 0;
	min-width: 0;
          }
input:focus,
textarea:focus {
	border-color: hsl(
	var(--input-focus-h),
	var(--input-focus-s),
	var(--input-focus-l)
	);
}
input:focus,
textarea:focus {
	box-shadow: 0 0 0 3px
	hsla(
	var(--input-focus-h),
	var(--input-focus-s),
	calc(var(--input-focus-l) + 40%),
	0.8
	);
	outline: 3px solid transparent;
}
input:not(textarea) {
	line-height: 1;
	height: 2.25rem;
}
textarea,
input {
	resize: vertical;
}
label {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1;
	margin-bottom: -5px;
        color:var(--primary);
}
input + label {
	margin-top: 2rem;
}
	
button {
    	background: var(--primary);
    	border: 1px solid #506556;
    	border-radius: 0.25rem;
    	color: var(--theme);
    	cursor: pointer;
    	display: block;
    	font-size: 1.25rem;
    	padding: 3px 2rem;
}
/* home page bio
-----------------------------------------------------*/

.bio{

}
