@import "https://unpkg.com/open-props";

* {
  /* light */
  --text1-light: var(--gray-8);
  --text2-light: var(--gray-7);
  --surface1-light: var(--gray-0);
  --surface2-light: var(--gray-1);
  --surface3-light: var(--gray-2);
  --surface4-light: var(--gray-3);
  --surface-shadow-light: 220 3% 15%;
  --shadow-strength-light: 1%;

  /* dark */
  --text1-dark: var(--gray-1);
  --text2-dark: var(--gray-3);
  --surface1-dark: var(--gray-9);
  --surface2-dark: var(--gray-8);
  --surface3-dark: var(--gray-7);
  --surface4-dark: var(--gray-6);
  --surface-shadow-dark: 200 40% 2%;
  --shadow-strength-dark: 25%;
}

:root {
  /* set defaults */
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface-color: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
    --surface-color: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
  }
}

.darkmode {
  --text1: var(--text1-dark);
  --text2: var(--text2-dark);
  --surface1: var(--surface1-dark);
  --surface2: var(--surface2-dark);
  --surface3: var(--surface3-dark);
  --surface4: var(--surface4-dark);
  --surface-color: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
}
.darkmode .fill-color {
  fill: var(--text2);
}
:root {
  --content-gap: 40px;
  --nav-width: 65rem;
  --main-width: 65rem;

  --radius: 8px;
  --hljs-bg: --var(surface1);
  --code-bg: --var(surface1);
  --transition-delay: 1s;
}

/* Reset
-------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  color: var(--text2);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Inter, Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--font-size-fluid-0);
  line-height: 1.8;
  word-break: break-word;
  hyphens: auto;
  background: var(--surface3);
  transition: var(--transition-delay);
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text2);
  line-height: var(--font-lineheight-1);
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
strong,
b {
  font-weight: 500;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  color: var(--text2);
  text-decoration: none;
}
figure {
  margin: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
textarea {
  padding: 0;
  font: inherit;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}
input,
textarea {
  padding: 0;
  border: 0;
  outline: 0;
}
input:-webkit-autofill,
textarea:-webkit-autofill {
  box-shadow: 0 0 0 50px var(--theme) inset;
}
img {
  display: block;
  max-width: 100%;
}
/* Header
-------------------------------------------------- */
.name {
  font-size: var(--font-size-fluid-3);
  margin-left: var(--size-5);
  text-align: left;
  margin-top: 1rem;
}
@media screen and (max-width: 480px) {
  .name {
    margin-left: 0;
    padding-right: 0;
  }
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: calc(var(--nav-width) + var(--size-5) * 2);
  margin-left: auto;
  margin-right: auto;
}

.nav a {
  display: block;
}

.nav a:hover,
.nav a:focus {
  color: var(--orange-6);
}
.nav a:focus {
  outline: 2px dotted;
}
.logo,
.menu,
.theme-toggle {
  margin-left: var(--size-5);
  margin-right: var(--size-5);
}

/* Main
-------------------------------------------------- */
.main {
  position: relative;
  min-height: calc(100vh - var(--size-9) - var(--size-9));
  max-width: calc(var(--main-width) + var(--size-5) * 2);
  margin-left: auto;
  margin-right: auto;
  padding: var(--size-5);
}
@media screen and (max-width: 480px) {
  .main {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
  }
}
.intro {
  font-size: var(--font-size-fluid-2);
  margin-bottom: var(--size-5);
}
.home-section {
  margin-top: var(--size-5);
}

/* Post entry
-------------------------------------------------- */
.post-entry {
  position: relative;
  margin-bottom: var(--size-5);
  padding: var(--size-5);
  background-color: var(--surface3);
  border: 1px solid var(--surface2);
  border-radius: var(--radius);
  box-shadow: var(--shadow-3);
  transition-duration: 0.2s;
  transition-property: box-shadow, transform;
  transition-timing-function: var(--ease-in-1);
}
.post-entry:hover,
.post-entry:focus {
  transform: scale(1.015);
  box-shadow: var(--shadow-4);
}
.post-entry:focus {
  outline: 3px solid var(--orange-6);
}
.tag-entry .entry-content,
.tag-entry .entry-footer {
  display: none;
}
.entry-header h2 {
  font-size: var(--font-size-fluid-1);
}
.entry-content {
  margin-top: 8px;
  margin-bottom: 8px;
  color: var(--text1);
  font-size: var(--font-size-fluid-0);
  line-height: 1.6;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.entry-footer {
  color: var(--primary);
  font-size: 0.8125rem;
}

/* Post single
-------------------------------------------------- */
.post-header {
  margin-top: 1.5rem;
  margin-bottom: var(--size-7);
}
.post-title {
  margin-bottom: 2px;
  font-size: var(--font-size-fluid-2);
  transform: translateX(-2px);
}
.post-meta {
  color: var(--text1);
  font-size: var(--font-size-0);
}
.post-content {
  color: var(--text1);
}
.post-content h1 {
  margin-top: calc(1.5rem + 3vw);
  margin-bottom: 2rem;
}
.post-content h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.post-content a {
  border-bottom: 1px solid var(--orange-5);
}
.post-content a:hover {
  color: var(--orange-5);
  border-bottom: 1px solid var(--orange-5);
}
.post-content a:focus {
  outline: 2px dotted;
  color: var(--orange-5);
}
.post-content a code {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  box-shadow: var(--inner-shadow-3);
}
.post-content p,
.post-content ul,
.post-content ol,
.post-content dl {
  margin-bottom: var(--size-7);
}
.post-content ul,
.post-content ol {
  padding-left: 20px;
}
.post-content li {
  margin-top: 5px;
}
.post-content li p {
  margin-bottom: 0;
}
.post-content .highlight,
.post-content pre {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  background: var(--surface2) !important;
  border-radius: var(--radius);
  overflow-x: auto;
  font-size: var(--font-size-3);
}
.post-content ul pre {
  margin-left: calc(var(--size-5) * -2);
}
.post-content .highlight pre {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
/* inline */
.post-content .highlight span {
  background: transparent !important;
}

.post-content code {
  margin-left: 4px;
  margin-right: 4px;
  padding: 4px 6px;
  font-family: Menlo, Monaco, "Courier New", Courier, monospace;
  font-size: var(--font-size-fluid-0);
  line-height: 1.5;
  background: var(--surface2);
  border-radius: 2px;
}
.post-content pre code {
  display: block;
  margin-left: 0;
  margin-right: 0;
  padding: var(--size-5);
  color: var(--text1);
  background: var(--surface4);
  border-radius: 0;
}
.post-content hr {
  height: 1px;
  margin-top: 56px;
  margin-bottom: 56px;
  background: var(--text1);
  border-top: 0;
  border-bottom: 0;
}
.post-content iframe {
  max-width: 100%;
}
.post-footer {
  margin-top: 56px;
}
.post-tags li {
  display: inline-block;
}
.post-tags li + li {
  margin-left: 3px;
}
.post-tags a {
  display: block;
  padding-left: 14px;
  padding-right: 14px;
  color: var(--text2);
  font-size: 14px;
  line-height: 34px;
  background: var(--code-bg);
  border-radius: 4px;
}
.post-tags a:hover {
  background: var(--border);
}
/* Footer
-------------------------------------------------- */
.footer {
  max-width: calc(var(--main-width) + var(--size-5) * 2);
  margin-left: auto;
  margin-right: auto;
  padding: calc((var(--size-9) - var(--size-5)) / 2) var(--size-5);
  color: var(--text1);
  font-size: var(--font-size-0);
  text-align: center;
  line-height: var(--font-lineheight-3);
}
.footer span {
  margin-left: 1px;
  margin-right: 1px;
}
.footer a {
  color: inherit;
}
.footer a:hover {
  color: var(--orange-5);
  border-bottom: 1px solid var(--orange-5);
}
.footer a:focus {
  outline: 2px dotted;
  color: var(--orange-5);
}
/* 404
-------------------------------------------------- */
.not-found {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  font-size: 160px;
  font-weight: 700;
}
/* homepage gallery and list pages
-------------------------------------------------- */
.card {
  transition-duration: 0.15s;
  transition-property: box-shadow, transform;
  transition-timing-function: ease-in;
  background-color: var(--surface3);
  border: 1px solid var(--surface2);
  padding: var(--size-4);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-3);
}
.card:hover,
.card:focus {
  transform: scale(1.025);
  box-shadow: var(--shadow-4);
}
.card:focus {
  outline: 3px solid var(--orange-6);
}

/* https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html 
--------------------------------------------------- */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.theme-swapper {
  white-space: nowrap;

  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-7);

  padding-inline: var(--size-6);
  padding-block: var(--size-3);

  color: var(--orange-9);
  border: var(--border-size-2) solid var(--orange-5);
  background-color: transparent;
  border-radius: var(--radius-2);
}

.theme-swapper:hover {
  cursor: pointer;
  color: var(--orange-0);
  background-color: var(--orange-5);
}

.light .theme-swapper:hover {
  text-shadow: 0 1px 0 var(--orange-8);
}

.theme-swapper:active {
  position: relative;
  inset-block-start: 2px;
}

.dark .theme-swapper {
  border-color: var(--orange-3);
  color: var(--blue-1);
}

.dark .theme-swapper:hover {
  background-color: var(--orange-3);
  color: black;
}
.theme-swapper-wrapper {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* links */
.contact-link {
  white-space: nowrap;

  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-7);

  padding: var(--size-3);
  color: var(--orange-9);
  border: var(--border-size-2) solid var(--orange-5);
  background-color: transparent;
  border-radius: var(--radius-2);
}

.contact-link:hover {
  cursor: pointer;
  color: var(--orange-0);
  background-color: var(--orange-5);
}

.light .contact-link:hover {
  text-shadow: 0 1px 0 var(--orange-8);
}

.contact-link:active {
  position: relative;
  inset-block-start: 2px;
}

.dark .contact-link {
  border-color: var(--orange-3);
  color: var(--blue-1);
}

.dark .contact-link:hover {
  background-color: var(--orange-3);
  color: black;
}
/* home page grids */
.shopifylogo:before {
  display: block;
  content: "";
  background-image: url("shopify_glyph.svg");
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  position: absolute;
  right: 0;
  height: 3rem;
  width: 3rem;
}
.wrapper {
  max-width: 65rem;
  margin: 1em auto;
  padding: 1rem;
  overflow: hidden;
  background-color: var(--surface1);
  border-radius: var(--radius-3);
}
@media screen and (max-width: 1030px) {
  .wrapper {
    margin: 0 auto;
  }
}
.wrapper h3 {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
}
.home-links:hover,
.home-links:focus {
  color: var(--orange-5);
}
.home-links:focus {
  outline: 2px dotted;
}
.wrapper h4 {
  text-align: center;
  font-size: var(--font-size-fluid-1);
  padding: 0.5rem;
}
.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--size-3);
  list-style: none;
  margin: 1rem 0;
}
@media screen and (min-width: 480px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  }
}
.theme-toggle {
  transition: var(--transition-delay);
  transform: scale(1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-toggle:hover,
.theme-toggle:focus {
  transform: scale(1.1);
}

/* contact page*/
.contact-intro {
  font-size: var(--font-size-fluid-1);
  line-height: 1.75;
}

.contact-form {
  display: grid;
  place-content: center;
  gap: var(--size-2);
  background-color: transparent;
  padding-bottom: 2rem;
}
.contact-form input,
textarea {
  font-size: var(--font-size-fluid-0);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: var(--surface2);
  border: 2px solid var(--gray-4);
  border-radius: 4px;
  transition: 180ms box-shadow ease-in-out;
  margin-top: 0;
  min-width: 290px;
  color: var(--text1);
}
.contact-form input:focus,
textarea:focus {
  border-color: var(--orange-3);
}
.contact-form input:focus,
textarea:focus {
  box-shadow: 0 0 0 3px hsla(33, 100%, 83%, 0.8);
  outline: 3px solid transparent;
}
.contact-form input:not(textarea) {
  line-height: 1;
  height: 2.25rem;
}
.contact-form textarea,
input {
  resize: vertical;
}
.contact-form label {
  font-size: var(--font-size-fluid-0);
  font-weight: var(--font-weight-5);
  line-height: var(--font-lineheight-0);
  margin-bottom: -5px;
  color: var(--text1);
}
.contact-form input + label {
  margin-top: 2rem;
}
button.contact-btn {
  white-space: nowrap;

  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-7);

  /* padding-inline: var(--size-6);
  padding-block: var(--size-3); */
  padding: var(--size-3) var(--size-6);
  color: var(--orange-8);
  border: var(--border-size-2) solid var(--orange-5);
  background-color: transparent;
  border-radius: var(--radius-2);
}
button.contact-btn:hover {
  cursor: pointer;
  color: var(--orange-0);
  background-color: var(--orange-5);
}

/* contact page links*/
.contacts-ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--size-3);
  list-style: none;
  padding: 0;
  margin: 1rem 0 1rem 0;
}
@media screen and (min-width: 1000px) {
  .contacts-ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.contacts-li {
  padding: var(--size-3);
  text-align: center;
  font-size: var(--font-size-fluid-1);
}
.contacts-li a:hover,
.contacts-li a:focus {
  color: var(--orange-6);
}
.contacts-li a:focus {
  outline: 2px dotted;
}
