<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
 
    <meta name="generator" content="{{ eleventy.generator }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
<link rel="manifest" href="/img/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=PT+Serif:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    {# <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-diff.css' | url }}"> #}
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <div class="container">
       <a class="skip-to-content" href="#main">Skip to content</a>
       <header class="primary-header flex">
       <div class="logo">
       <a href="/">{% include "partials/logo.svg"%}</a>
       </div>
      <button class="mobile-nav-toggle" aria-controls="primary-navigation"><span class="sr-only" aria-expanded="false">Menu</span></button>
      <nav>
        <ul id="primary-navigation" data-visible="false" class="primary-navigation underline-indicators flex">
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="{% if entry.url == page.url %}active{% endif %}"><a class="ff-sans uppercase letter-spacing-2" href="{{ entry.url | url }}">{{ entry.title }}</a></li>
          {%- endfor %}
        </ul>
      </nav>
    </header>
  </div>

  <main id="main" class="flow">
      <div class="container">
        {{ content | safe }}
      </div>
  </main>

<footer class="footer surface4 fs-300" role="contentinfo" aria-labelledby="label-footer">
<div class="container">
  <h2 id="label-footer" class="sr-only">Page footer</h2>
  <ul class="social-list" role="list">
<li><a href="https://github.com/alanryn">Github</a></li>
<li><a href="https://community.shopify.com/c/user/viewprofilepage/user-id/340403">Shopify</a></li>
<li><a href="https://www.linkedin.com/in/alanryandev/">Linkedin</a></li>
<li><a href="https://codepen.io/al1973">Codepen</a></li>
  </ul>
  <p>
    <span>&copy; 2022 <a href="{{ '/' | url }}">Alan Ryan</a></span>
  <span>&middot;</span>
  <span>Created with <a href="https://11ty.dev" rel="noopener" target="_blank">11ty</a>️</span>
</p>
</div>
</footer>
  </body>
</html>

<script>

const nav = document.querySelector(".primary-navigation");
const navToggle = document.querySelector(".mobile-nav-toggle");

navToggle.addEventListener("click", () => {
    
    const visiblity = nav.getAttribute("data-visible");
    if (visiblity === "false") {
        nav.setAttribute("data-visible", true);
        navToggle.setAttribute("aria-expanded", true);
    } else {
        nav.setAttribute("data-visible", false);
        navToggle.setAttribute("aria-expanded", false);
    }
})
</script>